@using WAF_exercise_Library_Portal_1_Core_Db;

@model IList<Book>

@if (Model == null || !Model.Any())
{
    <div class="contentText">At the moment we have no books.</div>
}
else
{
    <div>
        
    </div>
    <table>
        @for (Int32 i = 0; i < (Model.Count + 1) / 2; i++)
        {
            <tr>
                @for (Int32 j = i * 2; j < i * 2 + 2 && j < Model.Count; j++)
                {
                    <td class="contentTD">
                        <table border="0" width="550">
                            <tr class="bookItem">
                                <td width="227px">
                                    <img src="@Url.Action("ImageForBookCover", new {bookId = Model[j].Id})" class="contentImage" />
                                </td>
                                <td>
                                    <div class="bookItemHead">
                                        <a asp-action="Details" asp-route-buildingId="@Model[j].Id">@Model[j].Title</a><br><br>
                                        by @Model[j].GetFristAuthorName()<br>
                                        published in @Model[j].PublishedYear<br>
                                        [ISBN:@Model[j].Isbn]
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                }
            </tr>
        }
    </table>
}
